body
{ margin: 0px;
    font-family: 'Questrial' ;
}

h1{
    font-size: 50px;
  

}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.Orenge_Highlight
{
    color:orange;
}
.Top-HalfWidth
{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding: 2%;
}

section
{
    height: 500px;
}
.Top-Banner
{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
.link-button
{
     text-decoration: none;
 background-image: linear-gradient(45deg,lightSalmon, tomato);
     padding: 10px 20px;
     border-radius: 40px;
     color: white;
     font-weight: 700;
}

.Middle-Halfwidth
{   
    width: 40%;
    float: left;
    margin-right: 5%;
    padding: 2%;
}

.Middle-Banner
{  
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
   

}
.Bottom-Halfwidth
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}
.single-expreience
{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 50%;



}
.Bottom-Side
{
 background-image: url("img/exp-bg.png");
 background-repeat: no-repeat;
    
}
#Full-Stack
{
    background-color: honeydew;
  border-left: 7px solid ;
  border-image: linear-gradient(180deg,lightSalmon,tomato);
  border-image-slice: 1;
  text-align:justify;  
}
#Baby-web
{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1; 
    text-align: justify;   
  }
